<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<!--[if (gt IE 6)&(lt IE 9)]><html xmlns="http://www.w3.org/1999/xhtml" class="IEgradient oldiesIE" lang="fr"><![endif]-->
<!--[if gte IE 9]><html xmlns="http://www.w3.org/1999/xhtml" class="IEgradient" lang="fr"><![endif]-->
<!--[if !IE]><!--><html xmlns="http://www.w3.org/1999/xhtml" lang="fr"><!--<![endif]-->

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Page d'accueil de Midi Pas Cher</title>
<link rel="stylesheet" href="css/charte.css" />
</head>
<body>
<!-- CONTAINER -->
	<div id="mpc_page">
  <!-- HEADER -->
    <div id="mpc_header">
    	<h1>Midi Pas Cher</h1>
      <span class="bandeau_left">&nbsp;</span>
      <div class="mpc_header_content">
        <div class="mpc_candidat">
          <p>Espace perso</p>
          <p><a href="#">Mes recherches enregistrées</a></p>
        </div>
		      <a href="index.html" id="mpc_home">Accueil</a>
        <div class="mpc_pro">
          <p>Espace pro</p>
          <p><a href="#">Mon compte</a><br/><a href="#">Créer un compte</a></p>
        </div>
      </div>
      <span class="bandeau_right">&nbsp;</span>
    </div>
  <!-- FIN HEADER -->
  <!-- CONTENT -->
    <div id="mpc_conteneur">
      <hr class="haut" />
    	<div id="mpc_content">
      <!-- LOGIN -->
      	<div id="mpcLogin">
        	<div class="login">
          	<h2>Identifiez-vous</h2>
            <p>Manager de restaurant, si vous disposez déjà d'un compte, identifiez-vous pour créer votre restaurant :</p>
            <form action="#" method="post" name="">
              <ul>
              	<li>
                	<label for="email">Votre email <em>*</em></label>
                  <span class="aide"><p class="tooltip">Phrase d'aide</p></span><br/>
                  <input type="text" value="" name="email" id="email" />
                </li>
              	<li>
                	<label for="password">Votre mot de passe <em>*</em></label>
                  <span class="aide"><p class="tooltip">Phrase d'aide</p></span><br/>
                  <input type="text" value="" name="password" id="password" />
                </li>
                <li class="floatRight"><button type="submit" class="gradientOrangeLinear btn w100">Valider</button></li>
                <li class="floatRight"><button type="reset" class="gradientGreyLinear btn w100">Annuler</button></li>
              </ul>
             </form>
            </div>
           <div id="separateur"><span>OU</span></div>
        	<div class="login ml15">
          	<h2>Créez votre compte</h2>
            <p>Manager de restaurant, créez votre compte pour pouvoir enregistrer votre restaurant :</p>
            <form action="#" method="post" name="">
              <ul class="half">
              	<li>
                	<label for="lastname">Votre nom <em>*</em></label>
                  <span class="aide"><p class="tooltip">Phrase d'aide</p></span><br/>
                  <input type="text" value="" name="lastname" id="lastname" />
                </li>
              	<li>
                	<label for="firstname">Votre prénom <em>*</em></label>
                  <span class="aide"><p class="tooltip">Phrase d'aide</p></span><br/>
                  <input type="text" value="" name="firstname" id="firstname" />
                </li>
              	<li>
                	<label for="email">Votre email <em>*</em></label>
                  <span class="aide"><p class="tooltip">Phrase d'aide</p></span><br/>
                  <input type="text" value="" name="email" id="email" />
                </li>
              	<li>
                	<label for="password">Votre mot de passe <em>*</em></label>
                  <span class="aide"><p class="tooltip">Phrase d'aide</p></span><br/>
                  <input type="text" value="" name="password" id="password" />
                </li>
               </ul>
               <ul>
                <li class="floatRight"><button type="submit" class="gradientOrangeLinear btn w100">Valider</button></li>
                <li class="floatRight"><button type="reset" class="gradientGreyLinear btn w100">Annuler</button></li>
              </ul>
             </form>
            </div>
        </div>
      <!-- FIN LOGIN -->
      </div>
      <hr class="bas" />
   </div>
  <!-- FIN CONTENT -->
  <!-- FOOTER -->
    <div id="mpc_footer">
      <p><a href="statique.html">Mentions légales</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="statique.html">Confidentialité</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="statique.html">A propos</a></p>
    </div>
  <!-- FIN FOOTER -->
  </div>
<!-- FIN CONTAINER -->

<!-- APPEL SCRIPTS -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
</body>
</html>
