<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<!--[if (gt IE 6)&(lt IE 9)]>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" class="IEgradient oldiesIE"
      lang="fr"><![endif]-->
<!--[if gte IE 9]>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" class="IEgradient" lang="fr"><![endif]-->
<!--[if !IE]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="fr"><!--<![endif]-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Page d'accueil de Midi Pas Cher</title>
    <link rel="stylesheet" th:href="@{assets/css/charte.css}"/>
</head>
<body id="favorite-searches">
<!-- CONTAINER -->
<div id="mpc_page">
    <div id="mpc_header"  th:include="header :: mpc_header"></div>
    <!-- CONTENT -->
    <div id="mpc_conteneur">
        <hr class="haut"/>
        <div id="mpc_content">
            <!-- RECHERCHES FAVORITES -->
            <div id="mpc_favorites">
                <h2>Mes 3 recherches favorites</h2>
                <!-- itere sur ces div -->
                <div class="favorites">
                    <div class="favoritesLeft">
                        <h3><a th:href="@{/search.html}"><span>1.</span> Les végétariens près du taf</a></h3>

                        <p>Proches du 20 boulevard Haussmann, 75009, Paris</p>
                    </div>
                    <div class="favoritesRight">
                        <a href="#" class="modify">Modifier la recherche<span>&nbsp;</span></a>
                        <a href="#" class="delete">Supprimer la recherche<span>&nbsp;</span></a>
                    </div>
                </div>
                <!-- fin itere sur ces div -->
                <!-- itere sur ces div -->
                <div class="favorites">
                    <div class="favoritesLeft">
                        <h3><a th:href="@{/search.html}"><span>2.</span> Jap dans le coin</a></h3>

                        <p>Proches du 20 boulevard Haussmann, 75009, Paris</p>
                    </div>
                    <div class="favoritesRight">
                        <a href="#" class="modify">Modifier la recherche<span>&nbsp;</span></a>
                        <a href="#" class="delete">Supprimer la recherche<span>&nbsp;</span></a>
                    </div>
                </div>
                <!-- fin itere sur ces div -->
                <!-- itere sur ces div -->
                <div class="favorites">
                    <div class="favoritesLeft">
                        <h3><a th:href="@{/search.html}"><span>3.</span> Très rapide</a></h3>

                        <p>Proches du 20 boulevard Haussmann, 75009, Paris</p>
                    </div>
                    <div class="favoritesRight">
                        <a href="#" class="modify">Modifier la recherche<span>&nbsp;</span></a>
                        <a href="#" class="delete">Supprimer la recherche<span>&nbsp;</span></a>
                    </div>
                </div>
                <!-- fin itere sur ces div -->
            </div>
            <!-- FIN RECHERCHES FAVORITES -->
        </div>
        <hr class="bas"/>
    </div>
    <!-- FIN CONTENT -->
    <div id="mpc_footer"  th:include="footer :: mpc_footer"></div>
</div>
<!-- FIN CONTAINER -->

<!-- APPEL SCRIPTS -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<script type="text/javascript">
    $("div.favoritesLeft h3 a").click(function (){
        alert("Link " + $(this).val() + " was clicked")
        return false;
    })
    $("a.modify").click(function (){
        alert("Link " + $(this).val() + " was clicked")
        return false;
    })
    $("a.delete").click(function (){
        alert("Link " + $(this).val() + " was clicked")
        return false;
    })
</script>
</body>
</html>
