<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="fr">
<body>
<!-- FOOTER -->
<div th:fragment="mpc_footer">
    <p><a id="legal" href="legal.html" th:href="@{legal.html}">Mentions légales</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a id="confidentiality"
            href="confidentiality.html" th:href="@{confidentiality.html}">Confidentialité</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a id="about"
            href="about.html" th:href="@{about.html}">A propos</a>
    </p>
</div>
<!-- FIN FOOTER -->
</body>
</html>
