<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="fr">
<body>
<!-- HEADER -->
<div th:fragment="mpc_header">
    <h1>Midi Pas Cher</h1>
    <span class="bandeau_left">&nbsp;</span>

    <div class="mpc_header_content">
        <div class="mpc_candidat">
            <p>Espace perso</p>

            <p><a id="favorite-searches" href="#" th:href="@{favorite-searches.html}">Mes recherches enregistrées</a></p>
        </div>
        <a href="index.html" th:href="@{index.html}" id="mpc_home">Accueil</a>

        <div class="mpc_pro">
            <p>Espace pro</p>
            <p>
                <a href="#" th:href="@{accounts/lgueye/edit.html}">Mon compte</a>
                <br/>
                <a id="authenticate" href="#" th:href="@{authenticate.html}">Créer un compte</a>
            </p>
        </div>
    </div>
    <span class="bandeau_right">&nbsp;</span>
</div>
<!-- FIN HEADER -->
</body>
</html>
